<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
>
<div layout:fragment="body-page">
    <div class="alert alert-danger" th:if="${message != null}" th:text="${message}"></div>
    <div class="alert alert-success" th:if="${messageOk != null}" th:text="${messageOk}"></div>
    <div class="card text-white bg-success mb-3">
        <div class="card-header">
            <h5 class="card-title">New Contract</h5>
        </div>
        <div class="card-body">
            <form method="POST" th:action="@{/contract}" th:object="${contract}">
                <input th:field="*{id}" type="hidden">
                <div class="form-group mb-3">
                    <label class="form-label" for="cpfCnpj">CPF/CNPJ:</label>
                    <input class="form-control cpfCnpj" id="cpfCnpj" required th:field="*{cpfCnpj}" type="text">
                </div>
                <div class="form-group mb-3">
                    <label for="contractExpiration" class="form-label">Contract Expiration:</label>
                    <input id="contractExpiration" required class="form-control" placeholder="dd-mm-yyyy" type="date" th:field="*{contractExpiration}">
                </div>
                <table id='myTable' class="table table-dark">
                    <thead>
                    <tr>
                        <th width="10%">Id</th>
                        <th>Number Duplicata</th>
                        <th>Cash Value</th>
                        <th>Duplicata Expiration</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, iter : *{contractItem}">
                        <td th:text="${item.id}" th:field="*{contractItem[__${iter.index}__].id}"></td>
                        <td><input required th:value="${item.numberDuplicata}" class="form-control" th:field="*{contractItem[__${iter.index}__].numberDuplicata}" min="1"/></td>
                        <td><input required th:value="${item.cashValue}" class="form-control cash-value" th:field="*{contractItem[__${iter.index}__].cashValue}"/></td>
                        <td><input required type="date" class="form-control" placeholder="dd-mm-yyyy" th:value="${item.duplicataExpiration}" th:field="*{contractItem[__${iter.index}__].duplicataExpiration}"/></td>
                        <td><input required name=remove class='btn btn-danger btn-sm' type=button value=X onClick=deleteRow(this);></td>
                    </tr>
                    </tbody>
                </table>
                <div class="card-body mt-3">
                    <input class='btn btn-primary btn-sm' type="button" value="+" onClick="addRow()"/>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="totalCashValue">Total Cash Value:</label>
                    <input class="form-control" readonly="readonly" id="totalCashValue" th:field="*{totalCashValue}"/>
                </div>
                <button class="btn btn-primary" type="submit">Save Contract</button>
            </form>
        </div>
    </div>
</div>
</html>
